<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Armários Cadastrados</title>
    <link rel="stylesheet" href={{ url_for('static', filename='css/ListarArmarios.css') }}>
</head>
<body>
    <h1>Armários Cadastrados</h1>
    <table>
        <tr>
            <th>Número do Armário</th>
            <th>Nome do Dono</th>
            <th>ID</th>
        </tr>
        <tr><td>1</td><td>N/D</td><td>N/D</td></tr>
        <tr><td>2</td><td>N/D</td><td>N/D</td></tr>
        <tr><td>3</td><td>N/D</td><td>N/D</td></tr>
        <tr><td>4</td><td>N/D</td><td>N/D</td></tr>
        <tr><td>5</td><td>N/D</td><td>N/D</td></tr>
        <tr><td>6</td><td>N/D</td><td>N/D</td></tr>
        <tr><td>7</td><td>N/D</td><td>N/D</td></tr>
        <tr><td>8</td><td>N/D</td><td>N/D</td></tr>
        <tr><td>9</td><td>N/D</td><td>N/D</td></tr>
        <tr><td>10</td><td>N/D</td><td>N/D</td></tr>
    </table>
    <a href="PainelPrincipal.html" class="voltar">Voltar</a>
</body>
</html>