{% extends 'base.html' %}

{% block title %}{{_('Página Inicial')}}{% endblock %}

{% block head_extra %}
    <link rel="stylesheet" href={{ url_for('static', filename='css/PaginaInicial.css') }}>
{% endblock %}

{% block content %}
    <main>
        <h1>Página Inicial</h1>
        <a href="LoginAdmin.html" class="btn admin">Admin</a>
        <a href="VisualizacaoDeArmario.html" class="btn visual">Visualização de Armário</a>
        <a href="RegistroArmario.html" class="btn registro">Registro de Armário</a>
        <a href="sair.html" class="btn sair">Sair</a>
    </main>
{% endblock %}