{% extends 'base.html' %}

{% block title %}{{_('Painel Admin')}}{% endblock %}

{% block head_extra %}
    <link rel="stylesheet" href={{ url_for('static', filename='css/PainelAdmin.css') }}>
{% endblock %}

{% block content %}
    <main>
        <h1>Painel do Administrador</h1>

        <form method="post" action="/add">
            <label>{{_('Capacidade')}}</label>
            <select name="capacidade">
                <option value="Pequeno">{{_('Pequeno')}}</option>
                <option value="Medio">{{_('Médio')}}</option>
                <option value="Grande">{{_('Grande')}}</option>
            </select>
            <label>{{_('Localização')}}</label>
            <select name="localizacao">
                <option value="Sala 1">{{_('Sala 1')}}</option>
                <option value='Sala 2'>{{_('Sala 2')}}</option>
            </select>
            <button type="submit">{{_('Cadastrar')}}</button>
        </form>
        <h2>{{_('Todas os Armários')}}</h2>
        {% include 'TabelaArmarios.html' %}
        <h2>{{_('Todas as Reservas')}}</h2>
        {% include 'TabelaReservas.html' %}
        
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for categoria, texto in messages %}
        <p class="{{categoria}}">{{texto|safe}}</p>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </main>
{% endblock %}