{% extends 'base.html' %}

{% block title %}{{_('Painel Admin')}}{% endblock %}

{% block head_extra %}
    <link rel="stylesheet" href={{ url_for('static', filename='css/PainelAdmin.css') }}>
{% endblock %}

{% block content %}
    <main>
        <h1>Painel do Administrador</h1>
        <form method="post" action="/add">
            <label>{{_('Capacidade')}}</label>
            <select name="capacidade">
                <option value="Pequeno">{{_('Pequeno')}}</option>
                <option value="Medio">{{_('Médio')}}</option>
                <option value="Grande">{{_(Grande)}}</option>
            </select>
            <label>{{_('Localização')}}</label>
            <select name="localizacao">
                <option value="Sala 1">{{_('Sala 1')}}</option>
                <option value='Sala 2'>{{_('Sala 2')}}</option>
            </select>
            <button type="submit">{{_('Cadastrar')}}</button>
        </form>
        {% if success %}
            <p class="success">{{success}}</p>
        {% endif %}
    </main>
{% endblock %}