<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Registro de Armário</title>
    <link rel="stylesheet" href={{ url_for('static', filename='css/ReservarArmario.css') }}>
</head>
<body>
    <h1>Registro de Armário</h1>
    <form method="post" action="/registrar">
        <label for="nome">Nome do Colaborador:</label><br>
        <input type="text" id="nome" name="nome" required><br>
        <label for="matricula">Matrícula da Empresa:</label><br>
        <input type="text" id="matricula" name="matricula" required><br>
        <button type="submit" class="registrar">Registrar Armário</button>
        <a href="PainelPrincipal.html" class="voltar">Voltar</a>
    </form>
</body>
</html>