<div class="containerGeral">
    <div class="containerTabelas">
        <div class="filtros">
            <select id="filtro-capacidade">
                <option value="">{{ _('Todas as capacidades') }}</option>
                {% for c in capacidades %}
                <option value="{{ c }}">{{ c }}</option>
                {% endfor %}
            </select>

            <select id="filtro-local">
                <option value="">{{ _('Todos os locais') }}</option>
                {% for l in locais %}
                <option value="{{ l }}">{{ l }}</option>
                {% endfor %}
            </select>

            <select id="filtro-disponibilidade">
                <option value="">{{ _('Todas as disponibilidades') }}</option>
                {% for d in disponibilidades %}
                <option value="{{ d.descricao }}">{{ d.descricao }}</option>
                {% endfor %}
            </select>
        </div>
        <table id="tabela-armarios">
            <thead>
                <tr>
                    <th>{{_('ID')}}</th><th>{{_('Capacidade')}}</th><th>{{_('Localização')}}</th><th>{{_('Disponibilidade')}}</th>
                </tr>
            </thead>
            <tbody>
                {% if armarios %}
                {% for a in armarios %}
                <tr onclick='selecionarLinhaArmario(this)'data-capacidade="{{ a.capacidade }}" data-local="{{ a.localizacao }}" data-disponibilidade="{{ a.disponibilidade.descricao }}">
                    <td>{{ a.id }}</td>
                    <td>{{ a.capacidade }}</td>
                    <td>{{ a.localizacao }}</td>
                    <td>{{ a.disponibilidade.descricao }}</td>
                </tr>
                {% endfor %}
                {% else %}
                <tr>
                    <td>{{_('Nenhum armário encontrado')}}</td>
                </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
    <div class="containerForm" id="reservaForm">
        <form class="editForm"  action="/reservar" method="post"  onsubmit="return confirmarArmario()">
            {% if admin %}
            <div class="inputELabel">
                <label for="usuarioId">{{_('Id do Usuário:')}}</label>
                <input type="number" name="usuarioId">
            </div>
            {% else %}
            <input type="number" name="usuarioId" value={{usuarioAtual.id}} hidden>
            {% endif %}
            <input name="armarioId" id='armarioId'hidden>
            <div class="inputELabel">
                <label>{{_('Inicio da Reserva:')}}</label>
                <input required type="date" name="inicio" id="inicioArmario">
            </div>
            <div class="inputELabel">
                <label>{{_('Fim da Reserva:')}}</label>
                <input required type="date" name="fim" id="fimArmario">
            </div>
            <div class="inputELabel">
                <button type="submit">{{_('Reservar')}}</button>
                <button type="button" onclick="limparSelecaoArmario()">{{_('Limpar Seleção')}}</button>
            </div>
        </form>
    </div>
</div>
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for categoria, texto in messages %}
<p class="{{categoria}}">{{texto|safe}}</p>
{% endfor %}
{% endif %}
{% endwith %}
        <script src={{ url_for('static', filename='js/TabelaArmarios.js') }}></script>