<div class="containerGeral">
    <div class="containerTabelas">
        {% if admin %}
        <div class="filtros">
            <div id="labelInput">
                <label for="filtro-idarmario">{{_("ID Armário")}}</label>
                <input name='filtro-idarmario'id="filtro-idarmario" type="number">
            </div>
            <div id="labelInput">
                <label for="filtro-idusuario">{{_("ID Usuário")}}</label>
                <input name='filtro-idusuario'id="filtro-idusuario" type="number">
            </div>
            <select id="filtro-capacidadeR">
                <option value="">{{ _('Todas as capacidades') }}</option>
                {% for c in capacidades %}
                <option value="{{ c }}">{{ c }}</option>
                {% endfor %}
            </select>
            <select id="filtro-localR">
                <option value="">{{ _('Todos os locais') }}</option>
                {% for l in locais %}
                <option value="{{ l }}">{{ l }}</option>
                {% endfor %}
            </select>
        </div>
        {% endif %}
        <table id="tabela-reservas">
            <thead>
                <tr>
                    <th>{{_('ID Reserva')}}</th>
                    <th>{{_('Início')}}</th>
                    <th>{{_('Fim')}}</th>
                    <th>{{_('ID Armário')}}</th>
                    {% if admin %}
                    <th>{{_('ID Usuario')}}</th>
                    {% endif %}
                    <th>{{_('Localização')}}</th>
                    <th>{{_('Capacidade')}}</th>
                </tr>
            </thead>
            <tbody>
                {% if reservas %}
                {% for r in reservas %}
                <tr onclick='selecionarLinhaReserva(this)'data-capacidade='{{r.armario.capacidade}}' data-local="{{r.armario.localizacao}}" data-idarmario="{{r.armarioId}}" data-idusuario="{{r.usuarioId}}">
                    <td>{{r.id}}</td>
                    <td>{{r.inicio}}</td>
                    <td>{{r.fim}}</td>
                    <td>{{r.armarioId}}</td>
                    {% if admin %}
                    <td>{{r.usuarioId}}</td>
                    {% endif %}
                    <td>{{r.armario.localizacao}}</td>
                    <td>{{r.armario.capacidade}}</td>
                </tr>
                {% endfor %}
                {% else %}
                <tr>
                    <td>{{_('Nenhuma reserva encontrada')}}</td>
                </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
    <div class="containerForm" id="editarForm">
        <form  action="/editar" method="post"  onsubmit="return confirmarReserva()">
            <input name="reservaId" id="reservaId" hidden>
            <div class="inputELabel">
                <label for="opcao">{{_('Cancelar Reserva')}}</label>
                <input onchange="atualizarForm()" type="radio" name="opcao" value="cancelar"> 
            </div>
            <div class="inputELabel">
                <label for="opcao">{{_('Alterar Reserva')}}</label>
                <input onchange="atualizarForm()" type="radio" name="opcao" value="editar">
            </div>
            <div class="inputELabel">
                <label>{{_('Inicio da Reserva:')}}</label>
                <input type="date" disabled name="inicio" id="inicio">
            </div>
            <div class="inputELabel">
                <label>{{_('Fim da Reserva:')}}</label>
                <input type="date" disabled name="fim" id="fim">
            </div>
            <div class="inputELabel">
                <button type="submit">{{_('Confirmar')}}</button>
                <button type="button" onclick="limparSelecaoReserva()">{{_('Limpar Seleção')}}</button>
            </div>
 
        </form>
    </div>

<script src={{ url_for('static', filename='js/TabelaReservas.js') }}></script>