main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
form {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    width: 300px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

button {
    padding: 10px 20px;
    background-color: #00ff2a;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

button.voltar {
    background-color: #6c757d;
    margin-left: 10px;
}

.voltar {
    display: block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #6c757d;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    text-decoration: none;
}