.textContainer{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}


#landingImg{
    height: 22rem;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    max-width: 100%;

}
#landing{
    max-width: 75rem;
}