
.painel {
    display: none;
}


.painel.ativo {
    display: flex; 
    flex-direction: column;
}

#opcoesAdm a{
    display: inline-block; 
    padding: 10px 15px;
    margin-right: 10px; 
    text-decoration: none; 
    color: #F8F9FA; 
    background-color: transparent; 
    border: none; 
    cursor: pointer;
    transition: background-color 0.3s ease, border-bottom 0.3s ease; 
    border-bottom: 2px solid transparent;
}
#opcoesAdm a:hover {
    background-color: rgba(52, 152, 219, 0.1); 
    border-bottom-color: #3498DB; 
}
.selecionado {
    font-weight: bold; 
    border-bottom-color: #3498DB !important; 
}
#painelCadastrar select{
    background-color: #343A40;
    color: #F8F9FA;
}
#painelCadastrar form{
    display: flex;
    align-items: start;
    width: 100%;
    padding: 1rem;
}
#painelCadastrar{
    width: 100%;
}
